// ========== Reference: 80-character line =====================================

* { box-sizing: border-box; }
:root { // remember to set fallbacks when custom properties are applied
  --tstborderwidth: 2px;
  --settingsoffset: calc(3em + 2 * var(--tstborderwidth));
  --topbottompaddg: 1em;
  --leftrightpaddg: 2ch;
  --defaultpadding: var(--topbottompaddg) var(--leftrightpaddg);
  --defsplitpaddng: calc(var(--topbottompaddg) / 2)
                    calc(var(--leftrightpaddg) / 2);
  --panelwidthbeac: 40ch;
  --panelwidthitts: 45ch;
  --panelwidthpois: 35ch;
  --panelwidthwall: 30ch;
}
body, p { // consider using Autoprefixer, e.g. might need for transform
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0;
}
p { padding: var(--defaultpadding, 1em); }
#settings, #publayer,
#beacon, #itts, #pois, #wallet,
#ghostright, #ghostleft { position: fixed; }
#settings {
  &.togSettingsRad1 { top: 0; }
  &.togSettingsRad2 { bottom: 0; }
  left: 0;
  right: 0;
  width: 100%;
  height: var(--settingsoffset);
  border: var(--tstborderwidth) solid green;
  * { display: inline-block; }
  ul {
    width: 100%;
    margin: 0;
    padding: var(--defsplitpaddng, 0.5em);
  }
  li {
    padding: var(--defsplitpaddng, 0.5em);
    &:hover i { color: green; }
    .bottom { transform: rotate(180deg); }
    input[type=radio] {
      display: none; // hides radio dots
      &:checked ~ label { display: none; }
      &:not(:checked) ~ label { display: inline-block; }
    }
  } // if selected, show icon of opposite option
}
#publayer {
  &.togSettingsRad1 {
    top: var(--settingsoffset);
    bottom: 0;
  }
  &.togSettingsRad2 {
    top: 0;
    bottom: var(--settingsoffset); 
  }
  left: 0;
  right: 0;
  width: 100%;
  border: var(--tstborderwidth) solid blue;
  * { text-align: center; }
  nav {
    height: var(--settingsoffset);
    border: inherit;
  }
}
#beacon, #itts, #pois, #wallet, #ghostright, #ghostleft { // drawers
  &.togSettingsRad1 {
    top: calc(var(--tstborderwidth) + 2 * var(--settingsoffset));
         // changes if settings bar or nav are not equal height
    bottom: var(--tstborderwidth);
  }
  &.togSettingsRad2 {
    top: calc(var(--tstborderwidth) + var(--settingsoffset));
    bottom: calc(var(--tstborderwidth) + var(--settingsoffset));
  }
  background-color: silver;
  p { height: 100%; } // might not need this, only effect panel, not handle
  input[type=checkbox] {
    display: none; // hides checkbox
    &:not(:checked) ~ .panel { display: none; } // not checked = shut
    &:checked ~ .panel { display: inline-block; } // checked = open
    &:checked + label i.fas { transform: rotate(180deg); }
  }
  .handle {
    border: inherit;
    position: absolute;
    background-color: inherit;
    width: 100%;
    text-align: center;
    * { display: inline-block; }
    ul {
      width: 100%;
      margin: 0;
    }
    ul, li { padding: var(--defsplitpaddng, 0.5em); }
    li {
      &.leftend { float: left; }
      &.rightend { float: right; }
    } // if selected, show icon of opposite option
  }
}
#beacon, #wallet, #ghostleft {
  left: 0;
  .handle {
    transform: rotate(-90deg) translateX(var(--tstborderwidth));
    transform-origin: top right;
    right: 0;
    // float: left; // only matters if position isn't fixed
  }
}
#itts, #pois, #ghostright {
  right: 0;
  .handle {
    transform: rotate(90deg) translateX(calc(-1*var(--tstborderwidth)));
    transform-origin: top left;
  }
  // float: right; // only matters if position isn't fixed
}
#ghostright, #ghostleft { border: var(--tstborderwidth) solid black; }
#beacon, #itts {
  border: var(--tstborderwidth) solid purple;
  label:hover { color: purple; }
}
#pois, #wallet {
  border: var(--tstborderwidth) solid red;
  label:hover { color: red; }
}
#beacon .panel {
  width: var(--panelwidthbeac);
}
#itts .panel {
  width: var(--panelwidthitts);
}
#pois .panel {
  width: var(--panelwidthpois);
  &.togPOIsRad1 { display: inline-block; }
  &.togPOIsRad2 { display: none; }
}
#wallet .panel {
  width: var(--panelwidthwall);
  &.togWalletRad1 { display: inline-block; }
  &.togWalletRad2 { display: none; }
}