// ========== Reference: 80-character line =====================================

* { box-sizing: border-box; }
:root { // remember to set fallbacks when custom properties are applied (for IE)
  --wPanelWallet: 30ch;
  --wPanelBeacon: 40ch;
  --wPanelITTs:   45ch;
  --wPanelPOIs:   35ch;
  --borderThickness: 2px;
  --padTopBot:       1em;
  --padLftRgt:       2ch;
  --padDefaultFull:  var(--padTopBot) var(--padLftRgt);
  --padDefaultSplit: calc(var(--padTopBot) / 2) calc(var(--padLftRgt) / 2);
  --settingsOffset:  calc(1em + 2*var(--padTopBot) + 2*var(--borderThickness));
  --hDrawerHandle:   calc(1em + 2*var(--padTopBot) + 2*var(--borderThickness));
  --hDrawerHandleOffset: calc(1em + 2*var(--padTopBot));
}
body, p, ul { // consider using Autoprefixer, e.g. might need for transform
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0;
}
p { padding: var(--padDefaultFull, 1em); }
// ul { overflow-x: auto; overflow-y: hidden; text-overflow: ellipsis; } // ?
[title], label { cursor: pointer; }
#settings, #publayer, #dresserLft, #dresserRgt { position: fixed; }
#settings {
  &.togSettingsRad1 { top: 0; }
  &.togSettingsRad2 { bottom: 0; }
  width: 100%; // alternately, set { left: 0; right: 0; }
  height: var(--settingsOffset, 3em);
  border: var(--borderThickness, 1px) solid green;
  ul { width: 100%; }
  ul, li { padding: var(--padDefaultSplit, 0.5em); }
  li {
    display: inline-block;
    &:hover i { color: green; }
    .barBot { transform: rotate(180deg); }
    input[type=radio] {
      display: none; // hides radio dots
      &:checked ~ label { display: none; }
      &:not(:checked) ~ label { display: inline-block; }
    }
  } // if selected, show icon of opposite option
}
#publayer {
  &.togSettingsRad1 {
    top: var(--settingsOffset, 3em);
    bottom: 0;
  }
  &.togSettingsRad2 {
    top: 0;
    bottom: var(--settingsOffset, 3em); 
  }
  width: 100%; // alternately, set { left: 0; right: 0; }
  border: var(--borderThickness, 1px) solid blue;
  * { text-align: center; }
  nav {
    height: var(--settingsOffset, 3em);
    border: inherit;
  }
}
#dresserLft, #dresserRgt {
  &.togSettingsRad1 {
    top: calc(var(--borderThickness) + 2 * var(--settingsOffset));
      // adjust formula if settings bar & pub layer nav are not equal height
    bottom: var(--borderThickness);
  }
  &.togSettingsRad2 {
    top: calc(var(--borderThickness) + var(--settingsOffset));
    bottom: calc(var(--borderThickness) + var(--settingsOffset));
  }
  .drawerTop {
    border: var(--borderThickness) solid red;
    label:hover { color: red; }
  }
  .drawerBot {
    border: var(--borderThickness) solid purple;
    label:hover { color: purple; }
  }
}
#dresserLft {
  .handle {
    transform: rotate(-90deg) translateX(var(--borderThickness, 1px));
    transform-origin: top right; // order matters with transforms
    right: var(--hDrawerHandleOffset, 3em);
    // wishlist: for li { direction: rtl; } to work on elements (not just text)
  }
  .drawerTop, .drawerBot {
    float: left;
    &::after { // ghost
      content: '\00a0';
      display: inline-block;
      float: right;
      width: var(--hDrawerHandleOffset, 3em);
    }
  }
}
#dresserRgt {
  right: 0;
  .handle {
    transform: rotate(90deg) translateX(calc(-1*var(--borderThickness)));
    transform-origin: top left; // order matters with transforms
  }
  .drawerTop, .drawerBot {
    float: right;
    &::before { // ghost
      content: '\00a0';
      display: inline-block;
      float: left;
      width: var(--hDrawerHandleOffset, 3em);
    }
  }
}
.drawerTop, .drawerBot {
  position: relative; // on parent of .handle w/position: absolute;
  display: inline-block;
  height: 100%;
  background-color: silver;
  input[type=checkbox] {
    display: none; // hides checkboxes
    &:not(:checked) ~ .panel { display: none; } // not checked = shut
    &:checked ~ .panel { display: inline-block; } // checked = open
    &:checked + label i.fas { transform: rotate(180deg); }
  }
  .handle {
    z-index: 1;
    border: inherit;
    position: absolute;
    background-color: inherit;
    max-height: var(--hDrawerHandle, 3em);
    overflow: hidden; // wishlist: #dresserLft .handle li { direction: rtl; }
    text-align: center;
    ul { width: 100%; } // decided against inherit
    ul, li { padding: var(--padDefaultSplit, 0.5em); }
    li { display: inline-block; } // flexbox ignores { float: right; } elements
    li.endLft { float: left; }
    li.endRgt { float: right; }
  }
}
#wallet .panel { width: var(--wPanelWallet); }
#beacon .panel { width: var(--wPanelBeacon); }
#itts   .panel { width: var(--wPanelITTs); }
#pois   .panel { width: var(--wPanelPOIs); }