Table{
    font-size: 12px;
    width:350px !important;
    display: block;
    height: 500px;
}
tbody{
    width:80% !important;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
td{
     width:40% !important;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
th{
  width:100px;
}
#coinList {
    border: 1px solid #eeccee;
    height: 400px;
    overflow-y: scroll;
}

#tdHeaders{
font-size: 12px;
width:80% !important;
overflow: hidden;
margin-left: 80px;
}
