.home{
    padding-top: 0.5%;
    margin-left: 4px;
}

.navText{
    color: white;
    margin-left: 40px;
}
.form{
    width: 100% !important;
    
}
.chart{
    /*float: right;*/
    margin-left: 120px;
    height: 800px !important;
    flex-grow: 2;
    margin-top: 10px;
    width: 350px !important;
}
.nav{
    width: 350px !important;
}
#title{
    width: 10% !important;
    margin-left: -15px;
}
.favs{
    margin-left: 70px;
}
#search{
    margin-left: 35px;
}
#form-group{
    width:70% !important;
}
#btn{
    /* width: 10% !important; */
    /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  font-size: 12px;
}
